/* .student {
    font-family: Arial, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid purple;
}
.student p {
    margin: 1px
} */


/* .welcome {
    font-size: 2em;
    background-color: rgb(213, 207, 198);
    color: rgb(90, 35, 35);
    padding: 10px 50px;
    border-radius: 100px;
    margin: 0;
}
.notLog {
    font-size: 2em;
    background-color: red;
    color: black;
    padding: 10px 50px;
    border-radius: 100px;
    margin: 0;
} */


/* .list-category {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(81, 49, 28);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    border-color: black;
    background-color: burlywood
}
.list-item {
    font-size: 2em;
    list-style: none;
    color: green;
    text-align: center;
    margin: 0;
}
.list-item li:hover {
    color: pink;
    cursor: pointer;
} */


/* .counter-container {
    text-align: center;
    font-family: Arial, sans-serif;
}

.counter-display {
    font-size: 10em;
    margin-top: 0;
    margin-bottom: 50px;
}

.counter-button {
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-button:hover {
    background-color: bisque;
} */


body {
    font-family: Arial, sans-serif;
    background-color: rgb(164, 151, 151)
}

.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 50px;
    font-size: 3rem
}

.color-display {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(186, 181, 181);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.2s ease;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input [type="color"] {
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid grey;
}